<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-post-heading" data-cy="PostCreateUpdateHeading">Create or edit a Post</h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_title">Title</label>
          <input type="text" class="form-control" name="title" id="field_title" data-cy="title" formControlName="title" />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_content">Content</label>
          <input type="text" class="form-control" name="content" id="field_content" data-cy="content" formControlName="content" />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_likes">Likes</label>
          <input type="number" class="form-control" name="likes" id="field_likes" data-cy="likes" formControlName="likes" />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_createdAt">Created At</label>
          <div class="d-flex">
            <input
              id="field_createdAt"
              data-cy="createdAt"
              type="datetime-local"
              class="form-control"
              name="createdAt"
              formControlName="createdAt"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_modifiedAt">Modified At</label>
          <div class="d-flex">
            <input
              id="field_modifiedAt"
              data-cy="modifiedAt"
              type="datetime-local"
              class="form-control"
              name="modifiedAt"
              formControlName="modifiedAt"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_isDeleted">Is Deleted</label>
          <input type="checkbox" class="form-check" name="isDeleted" id="field_isDeleted" data-cy="isDeleted" formControlName="isDeleted" />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_viewScope">View Scope</label>
          <select class="form-control" name="viewScope" formControlName="viewScope" id="field_viewScope" data-cy="viewScope">
            <option [ngValue]="null"></option>
            <option value="PUBLIC">PUBLIC</option>
            <option value="PRIVATE">PRIVATE</option>
          </select>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_muser">Muser</label>
          <select class="form-control" id="field_muser" data-cy="muser" name="muser" formControlName="muser">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="mUserOption.id === editForm.get('muser')!.value?.id ? editForm.get('muser')!.value : mUserOption"
              *ngFor="let mUserOption of mUsersSharedCollection; trackBy: trackMUserById"
            >
              {{ mUserOption.id }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
