<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="mUser">
      <h2 data-cy="mUserDetailsHeading"><span>M User</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ mUser.id }}</span>
        </dd>
        <dt><span>Username</span></dt>
        <dd>
          <span>{{ mUser.username }}</span>
        </dd>
        <dt><span>Email</span></dt>
        <dd>
          <span>{{ mUser.email }}</span>
        </dd>
        <dt><span>Dob</span></dt>
        <dd>
          <span>{{ mUser.dob | formatMediumDatetime }}</span>
        </dd>
        <dt><span>About</span></dt>
        <dd>
          <span>{{ mUser.about }}</span>
        </dd>
        <dt><span>Profile Picture</span></dt>
        <dd>
          <div *ngIf="mUser.profilePicture">
            <a (click)="openFile(mUser.profilePicture, mUser.profilePictureContentType)">
              <img
                [src]="'data:' + mUser.profilePictureContentType + ';base64,' + mUser.profilePicture"
                style="max-width: 100%"
                alt="mUser image"
              />
            </a>
            {{ mUser.profilePictureContentType }}, {{ byteSize(mUser.profilePicture) }}
          </div>
        </dd>
        <dt><span>Statistic</span></dt>
        <dd>
          <div *ngIf="mUser.statistic">
            <a [routerLink]="['/user-statistic', mUser.statistic?.id, 'view']">{{ mUser.statistic?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/m-user', mUser.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
